In [1]:
import numpy as np 
import pandas as pd
from collections import Counter
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.offline import iplot, init_notebook_mode
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
import warnings

In [2]:
df= pd.read_csv('Google-Playstore.csv')

In [3]:
df.head(1).T

                                                    0
App Name                                      Gakondo
App Id                            com.ishakwe.gakondo
Category                                    Adventure
Rating                                            0.0
Rating Count                                      0.0
Installs                                          10+
Minimum Installs                                 10.0
Maximum Installs                                   15
Free                                             True
Price                                             0.0
Currency                                          USD
Size                                              10M
Minimum Android                            7.1 and up
Developer Id        Jean Confident Irénée NIYIZIBYOSE
Developer Website         https://beniyizibyose.tk/#/
Developer Email                jean21101999@gmail.com
Released                                 Feb 26, 2020
Last Updated                             Feb 26, 2020
Content Rating                               Everyone
Privacy Policy     https://beniyizibyose.tk/projects/
Ad Supported                                    False
In App Purchases                                False
Editors Choice                                  False
Scraped Time                      2021-06-15 20:19:35

In [4]:
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [5]:
g = df.groupby(['Category']).Installs.agg(['count']).reset_index()
g

                   Category   count
0                    Action   27546
1                 Adventure   23199
2                    Arcade   53789
3              Art & Design   18537
4           Auto & Vehicles   18278
5                    Beauty   11772
6                     Board   10588
7         Books & Reference  116728
8                  Business  143771
9                      Card    8176
10                   Casino    5076
11                   Casual   50809
12                   Comics    2862
13            Communication   48167
14                   Dating    6524
15                Education  241090
16              Educational   21306
17            Entertainment  138275
18                   Events   12841
19                  Finance   65464
20             Food & Drink   73926
21         Health & Fitness   83509
22             House & Home   14368
23         Libraries & Demo    5198
24                Lifestyle  118331
25        Maps & Navigation   26722
26                  Medical   32065
27                    Music    4201
28            Music & Audio  154906
29         News & Magazines   42807
30                Parenting    3810
31          Personalization   89209
32              Photography   35552
33             Productivity   79698
34                   Puzzle   51160
35                   Racing   10361
36             Role Playing   10010
37                 Shopping   75253
38               Simulation   23272
39                   Social   44730
40                   Sports   47479
41                 Strategy    8518
42                    Tools  143985
43           Travel & Local   67287
44                   Trivia   11794
45  Video Players & Editors   14015
46                  Weather    7246
47                     Word    8627

In [6]:
df['Category'].value_counts().head(5)

Education        241090
Music & Audio    154906
Tools            143988
Business         143771
Entertainment    138276
Name: Category, dtype: int64

In [7]:
df.groupby('Rating').size()

Rating
0.0    1059762
1.0        713
1.1        236
1.2        531
1.3        579
1.4       1011
1.5       1157
1.6       1644
1.7       1928
1.8       2957
1.9       2588
2.0       3804
2.1       3675
2.2       4954
2.3       5414
2.4       6051
2.5       6942
2.6       9213
2.7       9200
2.8      12235
2.9      11522
3.0      17275
3.1      15539
3.2      21485
3.3      22613
3.4      28908
3.5      31636
3.6      35989
3.7      43300
3.8      53863
3.9      55684
4.0      67342
4.1      69723
4.2      87993
4.3      83276
4.4      86304
4.5      76753
4.6      78302
4.7      62205
4.8      61109
4.9      44524
5.0     100122
dtype: int64

In [8]:
y_с = df.groupby('Maximum Installs')['Category'].value_counts().reset_index(name='counts')
y_с

        Maximum Installs                 Category  counts
0                      0                Education    1491
1                      0        Books & Reference    1002
2                      0                 Business     886
3                      0         Health & Fitness     873
4                      0             Food & Drink     863
...                  ...                      ...     ...
714734        9034404884                    Tools       1
714735        9141671889           Travel & Local       1
714736        9154248491                    Tools       1
714737        9766230924  Video Players & Editors       1
714738       12057627016                    Tools       1

[714739 rows x 3 columns]

In [9]:
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [10]:
df['Ad Supported'].value_counts()

False    1162170
True     1150774
Name: Ad Supported, dtype: int64

In [11]:
df['Content Rating'].value_counts()

Everyone           2022089
Teen                196375
Mature 17+           60289
Everyone 10+         33901
Unrated                154
Adults only 18+        136
Name: Content Rating, dtype: int64

In [12]:
df.head(1)

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35

In [25]:
 df.groupby('Rating')['Category'].value_counts().reset_index(name='counts')

      Rating       Category  counts
0        0.0      Education  111528
1        0.0       Business   91652
2        0.0  Music & Audio   74406
3        0.0      Lifestyle   62539
4        0.0          Tools   56922
...      ...            ...     ...
1982     5.0      Parenting     145
1983     5.0   Role Playing     142
1984     5.0         Casino      82
1985     5.0          Music      76
1986     5.0         Comics      66

[1987 rows x 3 columns]

In [28]:
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [32]:
 df.groupby('Category')['Rating'].value_counts().reset_index(name='counts')

     Category  Rating  counts
0      Action     0.0    8714
1      Action     4.2    1397
2      Action     4.1    1313
3      Action     4.0    1309
4      Action     3.8    1242
...       ...     ...     ...
1982     Word     1.8       3
1983     Word     1.0       2
1984     Word     1.5       2
1985     Word     1.2       1
1986     Word     1.7       1

[1987 rows x 3 columns]

In [33]:
 df.groupby('Category')['Ad Supported'].value_counts().reset_index(name='counts')

                   Category  Ad Supported  counts
0                    Action          True   22334
1                    Action         False    5221
2                 Adventure          True   17995
3                 Adventure         False    5208
4                    Arcade          True   42307
..                      ...           ...     ...
91  Video Players & Editors         False    4606
92                  Weather          True    4505
93                  Weather         False    2741
94                     Word          True    7473
95                     Word         False    1157

[96 rows x 3 columns]

In [34]:
df['Content Rating'].value_counts()

Everyone           2022089
Teen                196375
Mature 17+           60289
Everyone 10+         33901
Unrated                154
Adults only 18+        136
Name: Content Rating, dtype: int64

In [35]:
 df.groupby('Category')['Content Rating'].value_counts().reset_index(name='counts')

    Category Content Rating  counts
0     Action       Everyone   14420
1     Action           Teen    7987
2     Action   Everyone 10+    3618
3     Action     Mature 17+    1526
4     Action        Unrated       3
..       ...            ...     ...
249  Weather     Mature 17+     120
250     Word       Everyone    8053
251     Word           Teen     356
252     Word     Mature 17+     122
253     Word   Everyone 10+      99

[254 rows x 3 columns]

In [36]:
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [38]:
df['Price'].value_counts()

0.000000     2268011
0.990000       11851
1.990000        5817
2.990000        3921
1.490000        3823
              ...
8.205856           1
1.030097           1
13.530000          1
3.550000           1
18.903596          1
Name: Price, Length: 1063, dtype: int64

In [42]:
df['Editors Choice'].value_counts()

False    2312091
True         853
Name: Editors Choice, dtype: int64

In [48]:
df.columns

Index(['App Name', 'App Id', 'Category', 'Rating', 'Rating Count', 'Installs',
       'Minimum Installs', 'Maximum Installs', 'Free', 'Price', 'Currency',
       'Size', 'Minimum Android', 'Developer Id', 'Developer Website',
       'Developer Email', 'Released', 'Last Updated', 'Content Rating',
       'Privacy Policy', 'Ad Supported', 'In App Purchases', 'Editors Choice',
       'Scraped Time'],
      dtype='object')

In [53]:
df.groupby(['Rating','Category']).Price.agg(['mean'])

                                    mean
Rating Category
0.0    Action                   0.038906
       Adventure                0.064807
       Arcade                   0.142228
       Art & Design             0.136659
       Auto & Vehicles          0.101116
...                                  ...
5.0    Travel & Local           0.024525
       Trivia                   0.015894
       Video Players & Editors  0.039603
       Weather                  0.000000
       Word                     0.020440

[1987 rows x 1 columns]